//
//  Base.xcconfig
//  Transeat
//
//  Created by Jonathan Basuki on 01/07/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "../Local/Local.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(APP_BUNDLE_ID)
DEVELOPMENT_TEAM = $(TEAM_ID)
